[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = ">=1.4.0"
pandas = ">=1.2.4"
pdfminer = ">=20200726"
pdfminer3k = "*"

[dev-packages]

[requires]
python_version = "3.10"
