[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
spacy = "*"
tqdm = "*"
plac = "*"
pandas = "*"
doccano = "*"
flask = "*"
flask-restful = "*"
jupyter = "*"
nltk = "*"
seaborn = "*"
matplotlib = "*"
sentence-transformers = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
